<h2>Olá, <%= @customer.id %>!</h2>

<p>
  Sua ordem de serviço <strong><%= @service_order.id %></strong> teve o status atualizado para:
  <strong><%= @service_order.status.humanize %></strong>.
</p>

<p>Resumo da ordem de serviço:</p>
<ul>
  <li>Veículo: <%= @vehicle.license_plate %></li>
  <% if @service_order.services.any? %>
    <li>
      Serviços:
      <ul>
        <% @service_order.services.each do |service| %>
          <li><%= service.item_name %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% if @service_order.products.any? %>
    <li>
      Produtos/Peças:
      <ul>
        <% @service_order.products.each do |product| %>
          <li><%= product.item_name %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<p>Obrigado!</p>
